@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}
/* width */
::-webkit-scrollbar {
  width: 0px;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #312f3b;
  color: #fff;
}
header {
  position: sticky;
  top: 0;
  height: 10vh;
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 5px;
  background-color: #312f3b;
}
header h1 {
  padding: 10px;
  margin: 0;
  font-size: 1.5rem;
}

header img {
  height: 100%;
  cursor: pointer;
  position: absolute;
  left: 0;
}

footer {
  padding: 10px;
}
